body {
    margin: 1em;
}


div.container, div.row {
    margin-top: 1em;    
}

div.container div.row div {
    background-color: lightgray;
    border: 1px solid gray;
    min-height: 5em;
}

div.container-fluid {
    margin-top: 1em;    
}

div.container-fluid div.row div {
    background-color: lightgray;
    border: 1px solid gray;
    min-height: 5em;
}
